.dashboard-container {
  padding: 1rem;
  min-height: 100vh;
  
}
.parking-space-card {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.parking-space-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.parking-space-card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parking-space-card input[type="text"],
.parking-space-card input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.parking-space-card button {
  padding: 10px;
  background-color: #3a3c3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.parking-space-card button:hover {
  background-color: #808d9b;
}


.alert.alert-danger {
  margin-bottom: 1rem;
  text-align: center;
}

.parking-space-card .card-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.parking-space-card .card-text {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}


.parking-space-card .form-control {
  border-radius: 0.25rem; 
  border: 1px solid #ced4da; 
  margin-bottom: 1rem;
}


.parking-space-card .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 1rem;
}


.parking-space-card .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}


.parking-space-card .card-img-top {
  height: 200px; 
  object-fit: cover;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .parking-space-card {
    max-width: 100%;
  }
  .parking-space-card .card-title {
    font-size: 1.5rem;
  }
  .parking-space-card .card-text {
    font-size: 1rem;
  }
}

