.custom-nav-bg {
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff !important;
  margin-left: 100px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: georgia, serif;
}

.custom-nav-bg {
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff !important;
  margin-left: 150px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: georgia, serif;
}

.navbar-text {
  color: #fff;
  margin-left: 110px;
  font-size: large;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-outline-light, .add-space-btn {
  color: #f8f9fa;
  border-color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:hover, .add-space-btn:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

/* Media query*/
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }
  .nav-center {
    order: 1;
    flex-basis: 100%;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .add-space-btn, .auth-buttons {
    flex-basis: 100%;
    justify-content: center;
  }
}
